<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>縮! - 404</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 添加 Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- top-bottom and left-right center -->
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-center fs-1">
            <h1 class="text-danger">404</h1>
            <p class="fs-4">{{ cause }}</p>
            
            <a id="counter" class="fs-4" style="text-decoration: none;color: black;">10 秒後返回首頁，</a>
            <a href="{{ url_for('index') }}" class="fs-4">或點擊此處返回首頁</a>
            <!-- 10秒後返回首頁，顯示剩餘秒數-->
            <script>
                let counter = 9;
                setInterval(function() {
                    document.getElementById('counter').innerText = counter + " 秒後返回首頁，";
                    if (counter === 0) {
                        window.location.href = "{{ url_for('index') }}";
                    } else {
                        counter--;
                    }
                }, 1000);
            </script>
        </div>
    </div>
</body>
</html>